@model List<HandsOnModels.Models.Employee>
@{
    ViewBag.Title = "GetAll";
}
<br />
<a href="Creaet">Create New</a>
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>JoinDate</th>
                <th>Designation</th>
                <th>Salary</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.EmployeeId</td>
                    <td>@item.Name</td>
                    <td>@item.JoinDate</td>
                    <td>@item.Designation</td>
                    <td>@item.Salary</td>
                    <td><a href="Details?id=@item.EmployeeId">View</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

